# Ignore Xcode files
*.pbxuser
*.mode1v3
**/*.xcuserstate
demo/ios/.DS_Store
demo/ios/DerivedData/

tests/DerivedData/
tests/.DS_Store

demo/ios/NSRailsApp.xcodeproj/project.xcworkspace/xcuserdata/
demo/ios/NSRailsApp.xcodeproj/xcuserdata/