# Ignore Xcode build folders

demo/iOS/.DS_Store
demo/iOS/DerivedData/

test/.DS_Store
test/DerivedData/


# Ignore Xcode UI files

demo/iOS/NSRailsApp.xcodeproj/project.xcworkspace/xcuserdata/
demo/iOS/NSRailsApp.xcodeproj/xcuserdata/

test/NSRails.xcodeproj/project.xcworkspace/xcuserdata/
test/NSRails.xcodeproj/xcuserdata/


# Ignore folders made with autogen

*.gen/