*.DS_Store


# Ignore Xcode noise

DerivedData
xcuserdata
project.xcworkspace


# Ignore folders made with autogen

Models/

# Ignore RubyMotion noise

build-iPhoneOS
build-iPhoneSimulator
build
*.bridgesupport
.*
*.gem
