/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


body {
	font: 12px "Lucida Grande";
}

footer
{
	height:40px;
}

#head
{
	height: 240px;
	width: 100%;
	margin-top:50px;
}

#logo
{
	padding:20px;
	text-align:center;
	font: 120px "Gill Sans";
	color: #CC3300;
	font-weight: lighter;
}

.centered
{
	text-align: center;
	margin-top: 20px;
	width: 100%;	
}

p.coming_soon
{
	font-style:oblique;
	font-size: 14px;
}

.responseDivider
{
	margin-left: 3%;
	margin-right: 3%;
}

.divider
{
	margin-bottom: 30px;
	margin-left: 15%;
	margin-right: 15%;
}

.link
{
	text-align:center;
	color:white;
}

.incenter
{
	font-size: 15px;
}

.shadow {
  -moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FBFBFB;
	margin-left: 20%;
	margin-right: 20%;
}

.comment
{
	padding:10px 10px 5px 10px;
	text-align:left;
	max-height:204px;
	text-shadow: 0.1em 0.1em 0.05em #FFFFFF;
}

.response
{
	padding-left:10px;
}

.comment_poster
{
	font-weight:bold;
}

a
{
	font-weight:bold;
}

div::-webkit-scrollbar {
    width: 11px;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(1,1,1,0);
    border-radius: 8px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 1px rgba(1,1,1,0.6);
}

.comment_date
{
	font-size:13px;
	float:right;
}

.comment_body
{
	overflow: auto;
	overflow-x: hidden;
	max-height:162px;
	font-size:15px;
	margin: 10px;
}