/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html
{
	font-family: "Gill Sans", "Helvetica Neue", "Helvetica", sans-serif;
}

header
{	
	margin-top:50px;
	margin-bottom:20px;
	text-align:center;
		
	font-size: 17px;
}

body 
{
	margin:0;
	background:url("bg.png");
	
	text-shadow: 0em 0.125em 0.05em #FFFFFF;
	
	text-align:center;
	font-size: 15px;
}

footer
{
	text-align: center;
	margin-top: 45px;
}

/* 

Header stuff 

*/

#ribbon
{
	position: absolute; 
	top: 50; 
	right: 0; 
	border: 0;
}

#logo
{
	background-color: #FBFBFB;
	font-size: 120px;
	color: #CC3300;
	font-weight: lighter;
	margin-bottom:30px;
	
	/* Shadows on top and bottom only */
	-moz-box-shadow:    inset 0  4px 4px -4px #000000, 
                      inset 0 -4px 4px -4px #000000;
  -webkit-box-shadow: inset 0  4px 4px -4px #000000, 
                      inset 0 -4px 4px -4px #000000;
   box-shadow:        inset 0  4px 4px -4px #000000, 
                      inset 0 -4px 4px -4px #000000;
}

table.links
{
  margin-left:auto; 
  margin-right:auto;
	border-spacing:20px 5px;
	text-align:center;
}

/*

Posts & responses

*/

.container
{
	/* Make the box nice - shadow & rounded corners */
	
	-moz-box-shadow:    inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow:         inset 0 0 3px #000000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FBFBFB;
		
	margin-left: 19%;
	margin-right: 19%;
	
	margin-bottom: 10px;
	
	padding:10px 10px 10px 10px;
	text-align:left;
	
	/* Conversation isn't that heated yet... */
	/* max-height:300px; */
	
	overflow: auto;
	overflow-x: hidden;
	
	font: 15px "Helvetica Neue", "Helvetica";
}

.body
{
	font-size:15px;
	margin:10px;

	text-shadow: 0.1em 0.1em 0.05em #FFFFFF;
}

.response
{
	margin-top:20px;
	margin-bottom:17px;
	padding-left:15px;
}

.divider
{	
	margin-top: 20px;
	margin-left: 3%;
	margin-right: 3%;
}

.author
{
	font-weight:bold;
	display:inline;
}

.date
{
	font-size:13px;
	float:right;
}

/* 

Custom scrollbars for niceness (not used right now)

*/

div::-webkit-scrollbar {
    width: 8px;
}

div::-webkit-scrollbar-track {
  border-radius: 8px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 8px;
background: rgba(0,0,0,0.3); }